.nav-items-container{
    display: flex;
    justify-content: space-between;
}
img.nav--icon {
    width: 24px;
    margin-right: 10px;
}

@media screen and (max-width: 992px) {
    .nav-items-container{
        display: block;
    }
    img.nav--icon{
        width: 20px;
        margin-right: 8px;
    }
    .auth{
        margin: .8rem 0;
    }
    .auth .btn{
        padding: .1rem .5rem;
    }
  }