.navbar-brand{
  color: #eee;
  text-decoration: none;
}

.navbar-brand:hover{
  color: #eee;
}

footer.footer.mt-auto.py-3.bg-dark {
    position: sticky;
    top: 100%;
}

.App{
  min-height: 91.5vh;
}

